* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  body {
    background-color: #e3e0e0;
  }
  
  .cabecera-principal {
    width: 100%;
    color: #ffffff;
    background-color: #fff;
  }
  
  .cabecera-principal img {
    width: 70%;
    padding: 20px;
  }
  
  .contenedor-principal img {
    text-align: center;
  }
  
  .pago {
    background-color: #103221;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: bold;
    color: #fff;
  }

  .container-compra {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-vuelos {
    background-color: #fff;
    width: 85%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #AAAAAA;
    padding: 20px 0px;
    box-shadow: 0px 5px 10px #B0AEAE;
  }
  .title {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat';
    padding: 0px 5px;
  }
  .origen-destino {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    padding-right: 50px;
    align-items: center;
  }
  .origen-destino p {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
  }
  .origen-destino img {
    width: 100px;
  }
  .fecha {
    width: 100%;
    font-size: 34px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align-last: left;
    padding: 0px 70px;
  }
  .concepto-precio {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: repeat(8 1fr);
    font-size: 34px;
    justify-content: start;
    align-items: center;
    
  }
  .txt-black {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 80px;
    font-weight: 600;
  }
  .cantidad-black {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 70px;
    font-weight: 600;
  }
  .cantidad-grey {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 70px;
    color: #ABABAB;
    font-weight: 500;
  }
  .txt-grey {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 80px;
    color: #D4D4D4;
    font-weight: 600;
  }
  .txt-black2 {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left: 80px;
    font-size: 34px;
    font-family: 'Montserrat';
    font-weight: 900;
  }
  .salida-regreso {
    background-color: wheat;
    margin-top: 0px;
    width: 85%;
    height: 130px;
    display: flex;
  }
  .fecha-salida {
    background-color: #103221;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
  }
  .horarios {
    background-color: #fff;
    width: 75%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 36px;
    box-shadow: 0px 5px 10px #ABABAB;
  }
  .salida {
    text-align: right;
    line-height: 60px;
  }
  .tiempo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 60px;
  }
  .tiempo img {
    width: 120px;
}
  .llegada {
    font-family: 'Montserrat';
    text-align: left;
    line-height: 60px;
  }
  .contacto {
    background-color: #fff;
    border: 2px solid #ABABAB;
    margin-top: 30px;
    width: 85%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px  10px #ABABAB;
  }
  .usuarios {
/*     background-color: steelblue; */
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .usuarios img {
    width: 130px;
    padding: 15px 0px 0px 0px;
  }
  .datos-usuario {
/*     background-color: skyblue; */
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 36px;
    line-height: 45px;
    font-family: 'Montserrat';
  }
  .datos-usuario p {
    text-align: left;
    color: #ABABAB;
    font-family: 'Montserrat';
    font-weight: 700;
    padding-left: 10px;
  }
  .datos-usuario span {
    color: #000;
    font-family: 'Montserrat';
    font-weight: 900;
  }
  .botones-footer {
    width: 85%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #103221;
    font-family: 'Montserrat', sans-serif;
}
.regresar, .siguiente {
    width: 270px;
    height: 70px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border-radius: 40px;
    color: #fff;
    background-color: #103221;
    box-shadow: 0px 5px 10px #B0AEAE;
}